
body{
    background-color:#101011;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


section{
    display: block;
    overflow: hidden;
}
div{
    display: block;
}

header{
    font-size: 2.2rem;
    display: flex;
    align-items: center; 
    margin-bottom: 2px;
    background-color:black;
    height:22vh;
    color: white;
    overflow: hidden;
    overflow-wrap: break-word;
}
.name{
    width: 45%;
    text-align: center;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 2.2rem;
    transition: all .50s;
}
.name:hover{
    font-style: oblique;
    font-size: 2.5rem;
    color: green;
}
.navigation{
    display: block;
}
ul{
    list-style-type: none;
    display: block;
    float: right;
    margin-block-start: 1.2rem;
    margin-block-end: 1 rem;
    margin-inline-start: 0%;
    margin-inline-end: 0%;
   
}
a{
    text-decoration: none;
    cursor: pointer;
  
}
.navigation ul li{
    display: inline;
    padding: 18px;
    color: whitesmoke;
    transition: all 1s;
    
}
.navigation ul li:hover{
    font-style: italic;
    font-family: sans-serif;
    color: firebrick;
    font-size: 30px;
    
}


.box1{
    display: flex;
    flex-direction: row;
    height: 520px;
    overflow: hidden;
    
}
.container{
    display: flex;
    flex-direction: column; 
    padding-right: 20px;
    padding-left: 50px;
    font-size: 60px;
    font-family:serif cursive;
    margin-top: 5%;
    color: white;
    width: 45%;
    overflow: hidden;
    overflow-wrap: break-word;
}
.profileimg{
    float: right;
    width: 60%;
    padding-right: 70px;
}
img{
    float: right;
    padding-top: 10px;  
    width: 80%;
    height: 100%;
    padding-left: 10px;    
    
}




h1{
    text-align: center;
    margin: 50px;
    font-size: 35px;
    color: whitesmoke;
}
.me{
    padding-top: 2px;
    text-align: center;
    font-size: 30px;
    font-family:serif;
    color: white;
    overflow: hidden;
    overflow-wrap: break-word;
}

.educontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}
.btech{
    padding: 50px 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .40s;
    width: 27%;
    height: fit-content;
    margin-left: 50px;
    color: white;
    background-color:black;
    overflow-wrap: break-word;
}
.btech p{
    display: block;
    font-size: 22px;
    letter-spacing: 2px;
    margin-block-start: 1.2rem;
    margin-block-end: 1.2rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.intermediate{
    padding: 50px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .40s;
    width: 27%;
    height: fit-content;
    color: white;
    background-color: black;
  
    overflow-wrap: break-word;
}
.intermediate p{
    display: block;
    font-size: 22px;
    letter-spacing: 2px;
    margin-block-start: 1.2rem;
    margin-block-end: 1.2rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.ssc{
    padding: 50px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .40s;
    width: 27%;
    height: fit-content;
    color:white;
    margin-right: 50px;
    background-color: black;
    overflow-wrap: break-word;
}
.ssc p{
    display: block;
    font-size: 22px;
    letter-spacing: 2px;
    margin-block-start: 1.2rem;
    margin-block-end: 1.2rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.btech:hover{
    box-shadow: 1px 1px 5px 5px red;
    background-color: black;
    font-family: sans-serif;
    font-size: 30px;
    color: rgb(200, 183, 183);
    scroll-behavior: smooth;
}

.intermediate:hover{
    box-shadow: 1px 1px 5px 5px red;
    background-color: black;
    font-family: serif;
    font-size: 30px;
    color: rgb(200, 183, 183);
    scroll-behavior: smooth;
}
.ssc:hover{
    box-shadow: 1px 1px 5px 5px red;
    background-color: black;
    font-family: serif;
    font-size: 30px;
    color: rgb(200, 183, 183);
    scroll-behavior: smooth;
}


.projcontainer{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-left: 30%;
    width: 40%;
    overflow: hidden;
}

.beproj{
    padding: 40px 40px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .40s;
    width : 90%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    text-align: center;
    background-color: black;
    color: white;
    letter-spacing: 2px;
    overflow-wrap: break-word;  
   
}

.beproj:hover{
    box-shadow: 1px 1px 5px 5px brown;
    background-color: black;
    font-family: sans-serif;
    color: rga(200, 1180, 180);
    scroll-behavior: smooth;
    font-size: 28px;
}


.beprojminor{
    padding: 30px 50px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .40s;
    width : 22%;
    background-color: black;
    color: white;
    margin-right: 250px;
    font-size: 22px;
}
.beprojminor:hover{
    box-shadow: 1px 1px 5px 5px brown;
    background-color: black;
    font-family: sans-serif;
    color: rga(200, 180, 180);
    scroll-behavior: smooth;
    font-size: 28px;

}

.contactcontainer{
   text-align: center;
   padding: 40px 30px;
   border-radius: 10px;
   background-color: black;
   color: white;
   width:30%;
   margin-left: 35%;
   overflow: hidden;
   overflow-wrap: break-word;
   margin-bottom: 100px;
  
   
}
.contactcontainer p:hover{
    font-style: italic;
    font-size: 20px;
    color: chocolate;
}

.contactcontainer p{
    cursor: pointer;
    margin-block-start: .5rem;
    margin-block-end: .5rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    transition: all .50s;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
i{
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(200, 180, 180);
}
.icons i:hover{
    font-size: 60px;
    color: chocolate;
}
